a{ 
    font-family:'Courier New', Courier, monospace; 
    color: #7b7a7a;
    font-size: 30px; 
    display: flex;
  justify-content: center;
  align-items: center;            
}
body{
    background-color:#ffffff;
}
h1 {
    text-align: center; 
    color: #000000; 
    font-family: cursive;
} 

p{ 
    text-align: center;
    color: #000000; 
    font-family: 'Courier New', Courier, monospace;
}  