body{
    background-color: #fcbdd3;
}

h1{
    text-align: center;
    color: #fb83ad;
}
a{
    color: #fee0ea;
}
P{
     text-align: center; 
    color: #cf6d8f; 
    font-family: 'Courier New', Courier, monospace;
} 
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;    
}
h6{
    text-align: center;
}