body{
    background-color: #e61247;
}
a{
    color: #5c091e;
}
h1{
    text-align: center;
    color: #9d1336; 
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;    
} 
p{
    text-align: center; 
    color: #520a1c; 
    font-family: 'Courier New', Courier, monospace;
}  
h6{
    text-align: center;
}
