a{ 
    font-family:'Courier New', Courier, monospace; 
    color: #7b7a7a;
    font-size: 30px; 
    display: flex;
  justify-content: center;
  align-items: center;            
}
body{
    background-color:#f4afc1;
}
h1 {
    text-align: center; 
    color: #ec7e9b; 
    font-family: cursive;
    font-size: 100px;
} 

p{ 
    text-align: center;
    color: #7b7a7a; 
    font-family: 'Courier New', Courier, monospace;
}  

