body{
    background-color: #e6d4fc;
}
a{
    color: #be96ef;
}
h1{
    text-align: center;
    color: #a587c9;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;    
} 
p{
    text-align: center; 
    color: #44708b; 
    font-family: 'Courier New', Courier, monospace;
}  
h6{
    text-align: center;
}

