a{ 
    font-family:'Courier New', Courier, monospace; 
    color: #7b7a7a;
    text-align: center;
    font-size: 20px;
}
body{
    background-color:#f4afc1;
}
h1 {
    text-align: center; 
    color: #ec7e9b;
} 

p{ 
    text-align: center;
    color: #7b7a7a; 
    font-family: 'Courier New', Courier, monospace;
}  



