h1 { 
    font-family:'Courier New', Courier, monospace; 
    color: #f4ced8;
}
body{
    background-color:#f4afc1;
}
h2 {
    color: #545454;
    font-family: 'Courier New', Courier, monospace ;
}
h3 {
    color: #cd345d;
}
